.note-history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 0.25rem;
}
.unit-note {
  padding-left: 0.5rem;
}
.noteStatus {
  max-height: 100%;
  width: 5%;
  background-color: rgba(93, 180, 49, 0.6);
}
.note {
  padding: 1rem;
  width: 80%;
  border: 1px solid whitesmoke;
  border-radius: 0.25rem;
}
