.note-history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 0.25rem;
}

.note {
  padding: 1rem;
  width: 80%;
  border: 1px solid whitesmoke;
  border-radius: 0.25rem;
}
